<style type="text/css">
  .wrapper {
    background-color: rgba(0, 0, 0, .3);
    max-width: 600px;
    max-height: 400px;
  }
</style>

<div class="container">
  <div class="jumbotron">
    <div class="wrapper">
      
        <h1>{{jumbotron_title}}</h1>
        <p>Hello. This is some text.</p>
        <p>This is some more text. </p>
      </div>
    </div>
  </div>
</div>