<div class="sidebar">
  {{#each sidebar}}
  <ul class="list-group">
    <li class="list-group-item-heading">{{@key}}</li>
    {{#each this}}
    <button type="button" style="text-align:center" class="list-group-item"><a href="{{this}}">{{@key}}</a></button>
    {{/each}}
  </ul> 
  {{/each}}
</div>